/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
    /*overflow-y: hidden;*/
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.form-container {
    height: 100px;
}

.panel {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    vertical-align: top;
    margin: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 170px;
    height: 170px;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #ffffcc;
}

.panel-heading {
    position: relative;
    height: 40px;
}

.panel-heading .icons-row {
    position: absolute;
    right: 0px;
    top: 25px;
    width: 100px;
    height: 40px;
    margin-top: -20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 100;
}

.panel-heading .icons-row span {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.panel-heading .icons-row span.delete {
    background: url(../images/trash.png) no-repeat;
}

.panel-heading .icons-row span.save {
    background: url(../images/save_icon.png) no-repeat;
}

.panel-heading .icons-row span.add {
    background: url(../images/add_icon.png) no-repeat;
}

.panel-heading .icons-row span.colorwheel {
    background: url(../images/colorwheel.png) no-repeat;
}

.panel-body {
    position: absolute;
    /*background: url(images/notepaper2.jpg) repeat-y, url(images/notepaper_bg2.jpg) repeat;*/
    /* height: 100%; */
    bottom: 0px;
    top: 40px;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    padding: 5px;
}

.panel-body p {
    padding: 5px;
    outline: 0;
}

.panel-heading p {
    outline: 0;
    max-height: 30px;
    display: inline;
    /*make single line*/
    overflow: hidden;
}

.panel-title {
    font-weight: bold;
}

.content-textarea {
    max-height: 90px;
    max-width: 250px;
}

.panel-default > .panel-heading {
    color: #000;
    border-color: #ccc;
}

.filter-textinput {
    width: 250px;
    float: right;
    margin-top: 7px;
}

.alert-success {
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    padding-top: 50%;
    padding-left: 50%;
    margin-left: -50%;
}


/*Animation */

.page {
    position: absolute;
    min-height: 700px;
    min-width: 960px;
}

.page.ng-leave {
    z-index: 9999;
}

.page.ng-enter {
    z-index: 8888;
}