<div>
    <h3>MakeNote App</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis pharetra ante. Duis vel nisi dignissim, 
        eleifend nibh sed, luctus velit. In volutpat neque nibh, at ultrices velit egestas fermentum. Vivamus erat orci, 
        dignissim volutpat suscipit vel, dictum quis ligula. Etiam pulvinar, leo ut convallis facilisis, 
        eros ligula pellentesque neque, vel rutrum mi velit id justo. Pellentesque habitant
         morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        Etiam at nisl aliquet, scelerisque est ut, blandit ligula.
    </p>
</div>
