<div class="panel panel-default">
    <div class="panel-heading" ng-style="{backgroundColor: note.color}">
        <p style="display:inline" contenteditable="true" class="panel-title" 
            ng-blur="onUpdateData();">{{note.title | elispeText:note.title}}</p>
        <div class="icons-row">
            <span class="colorwheel" ng-click="myColorChanger(note)"></span>
            <span class="add" ng-click="onAdd()"></span>
            <span class="save" ng-click="onSave()"></span>
            <span class="delete" ng-click="onDelete()"></span>
        </div>
    </div>
    <div class="panel-body" ng-style="{backgroundColor: note.color}">
        <p class="text-container" contenteditable="true" ng-blur="onUpdateData();">{{note.content}}</p>
        <!--ng-blur="onUpdateData({note:note,event:$event});"-->
    </div>
</div>

